OPENAI_API_KEY=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

# Update these with your pinecone details from your dashboard. 
# PINECONE_INDEX_NAME is in the indexes tab under "index name" in blue
# PINECONE_ENVIRONMENT is in indexes tab under "Environment". Example: "us-east1-gcp"
PINECONE_API_KEY=52c04d4b-9f1f-47a1-b10f-5f0500c50c04  
PINECONE_ENVIRONMENT=gcp-starter
PINECONE_INDEX_NAME=default 
